.tecnologias-iconos{ 
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

@media (max-width: 1024px) {
  .tecnologias-iconos{ 
    gap: 1em;
  }
}

@media (max-width: 480px) {
	.tecnologias-iconos {
    display: flex;
    justify-content: space-between;
	width: 100%;
	}
}
