:root {
	/* ------- colorress ------- */
	--primary-color: #ffffff;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #374151;
	--link-color: #f04a4c;


	/* ------- Tipografia ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;

	
}